<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>589003228951-of47t48hlib35ukqojiq68vicf9vkao9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589003228951-of47t48hlib35ukqojiq68vicf9vkao9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>589003228951-14a1qpa6p2u871rebgv98bqqpp0plcda.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCdNqGyP5xduM99Vmu1pzeqwQyUT6uAREc</string>
	<key>GCM_SENDER_ID</key>
	<string>589003228951</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gossipFlutter</string>
	<key>PROJECT_ID</key>
	<string>gossip-e7212</string>
	<key>STORAGE_BUCKET</key>
	<string>gossip-e7212.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589003228951:ios:baff535ef8b1871a641952</string>
</dict>
</plist>